* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  justify-content: center;
}
header {
  background: rgb(86, 86, 255);
}
h1 {
  font-size: 3.5em;
}

img.tableLogo {
  max-width: 20px;
}
